<div layout-align="center center">
  {{userEntityCustomObject}}
  <div ng-repeat="(key,value) in userEntityCustomObject">
    {{key}}
    <br>
    {{value}}

    <br>Before CIB<br>
    INDEX IS {{$index}} 
    <br>
      <custom-input-box reflect-custom-input="reflectValue(keyString,value,id)" bind-data="entityData[key]" bind-data-key="entityData" type="{{value.type}}" label="{{value.label}}" specific-attr="value.specificAttr" required="true" id="{{key}}"></custom-input-box>
  <br>After CIB<br>


    <!-- <div ng-if="key=='profile'">
      <div ><img ng-src="{{entityData.picture}}"></div>
      <md-card layout="row">
          <div ng-repeat="(key,value) in value">
             <custom-input-box reflect-custom-input="reflectValue(keyString,value,id)" bind-data="entityData[key]" bind-data-key="entityData" type="{{value.type}}" label="{{value.label}}" specific-attr="value.specificAttr" required="true" id="{{key}}"></custom-input-box>
          </div>
          <button ng-click="update()">Save</button>
      </md-card>
    </div>

    <div ng-if="key=='passportDetails'">
      <md-card>
        <div ng-repeat="(key,value) in value">
          <custom-input-box reflect-custom-input="reflectValue(keyString,value,id)" bind-data="entityData.passport_details[key]" bind-data-key="entityData.passport_details" type="{{value.type}}" label="{{value.label}}" specific-attr="value.specificAttr" required="true" id="{{key}}"></custom-input-box>
        </div>
        <button ng-click="update()">Save</button>
      </md-card>
    </div>

    <div ng-if="key=='stay'">
      <md-card>
        <div ng-repeat="(key,value) in value">
          {{key}}
          {{value}}
           <custom-input-box reflect-custom-input="reflectValue(keyString,value,id)" bind-data="entityData.preferences.stay[key]" bind-data-key="entityData.preferences.stay" type="{{value.type}}" label="{{value.label}}" specific-attr="value.specificAttr" required="true" id="{{key}}"></custom-input-box>
        </div>
        <button ng-click="update()">Save</button>
      </md-card>
    </div>

    <div ng-if="key=='booking'">
      <md-card>
        <div ng-repeat="(key,value) in value">
          {{key}}{{value}}
           <custom-input-box reflect-custom-input="reflectValue(keyString,value,id)" bind-data="entityData.preferences.booking[key]" bind-data-key="entityData.preferences.booking" type="{{value.type}}" label="{{value.label}}" specific-attr="value.specificAttr" required="true" id="{{key}}"></custom-input-box>
        </div>
        <button ng-click="update()">Save</button>
      </md-card>
    </div>

    <div ng-if="key=='local_travel'">
      <md-card>
        <div ng-repeat="(key,value) in value">
          {{key}}{{value}}
           <custom-input-box reflect-custom-input="reflectValue(keyString,value,id)" bind-data="entityData.preferences.booking[key]" bind-data-key="entityData.preferences.booking" type="{{value.type}}" label="{{value.label}}" specific-attr="value.specificAttr" required="true" id="{{key}}"></custom-input-box>
        </div>
        <button ng-click="update()">Save</button>
      </md-card>
    </div> -->
  </div>
</div>
